<div *ngIf="patientDetails" class="border py-3 px-5 rounded-md cursor-pointer border-blue-700">
    <div (click)="toggleAccordian()" class="flex justify-between">
        <h4 class="font-medium text-blue-800">Problem - {{ patientDetails.problem || '-' }} - <span class="text-blue-800">{{
                patientDetails.registrationDate | date }}</span> </h4>
        <span class="inline-block text-blue-800" style="transform: rotate(90deg);">&gt;</span>
        <!-- <img src="../../../public/down.png" alt="Down Arrow" /> -->
    </div>
    <div *ngIf="showAccordian" class="mt-5">
        <p class="font-medium text-blue-800">Doctor Name: <span class="font-normal text-slate-700">{{ patientDetails.doctorName || '-' }}</span></p>
        <div class="flex gap-2">
            <p class="font-medium text-blue-800">Diagnosis: </p>
            <div class="flex gap-1">
                <p  class="font-normal text-slate-700" *ngFor="let diag of patientDetails?.diagnosis; let i = index">
                    <span >{{ diag | capitalize }}</span>
                    <span *ngIf="i !== patientDetails?.diagnosis?.length - 1">,</span>
                </p>
            </div>
        </div>
        <div class="flex gap-2">
            <p class="font-medium text-blue-800">Disease: </p>
            <div class="flex gap-1">
                <p  class="font-normal text-slate-700" *ngFor="let dis of patientDetails?.disease; let i = index">
                    <span>{{ dis | capitalize }}</span>
                    <span *ngIf="i !== patientDetails?.disease?.length - 1">,</span>
                </p>                
            </div>
        </div>
        <div class="flex gap-2">
            <p class="font-medium text-blue-800">Prescribed Medicines: </p>
            <div class="flex gap-1">
                <p  class="font-normal text-slate-700" *ngFor="let dis of patientDetails?.prescribedMedicines; let i = index">
                    <span>{{ dis | capitalize }}</span>
                    <span *ngIf="i !== patientDetails?.prescribedMedicines?.length - 1">,</span>
                </p>
            </div>
        </div>

    </div>
</div>